@charset "utf-8";
/* CSS Document */
#wrapper {
width: 900px;
margin: 0 auto;
text-align: center;
}

 #koala {
border: black 5px solid;
}
 
 #koala_eating {
display: none; /* hides content */
border: black 5px solid;
}

.choices {
cursor: pointer;
}
