@charset "utf-8";
/* CSS Document */
body 
{
	background-color:antiquewhite;
 	font-family: "Open Sans", system-ui;
  	font-optical-sizing: auto;
  	font-style: normal;    
}
#header{
	background-color: peachpuff;
	color: #8D080A;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
	text-align: center;
}
#wrap {
	background-color: peachpuff;
	color: #8D080A;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
	text-align: center;
}


.pieImage img{
	width:25%;
	cursor: pointer;
	padding: 10px;
	}

#laticeSteps{
	justify-content: center;
	width:40%;
	padding: 10px;
}
#colorSteps{
	text-justify: center;
	width:40%;
	padding: 10px;
}
#springformPan{
	text-justify: center;
	width:40%;
	padding: 10px;	
}
#sugarCutout{ 
text-justify:center;
	width:40%;
	padding:10px;
}

a:hover {
	color:darkred; 
}

